.my-button {
  padding: 10px 20px;
  background-color: rgb(235, 154, 129);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.page-title {
  color: darkgreen;
  font-family: Arial, sans-serif;
}

.about-text {
  font-size: 16px;
  color: gray;
}

.avatar {
  border-radius: 50%;
  margin-top: 10px;
}
